@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1700px;
  margin: 0 auto;
}

img {
  height: 0;
  max-height: 100% !important;
}

/* hide arrow from input[type="number"] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
